html,body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
.App{
  width:100%;
  height:100%;

}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.slideshow
{
  display:grid;
   height:100vh;
    grid-template-rows:1fr;
}
.slideshowInnerWrapper
{
  background-color:darkGrey;
   display:flex;
    justify-items:center;
     align-items:center;
      justify-content:center;
      gap: 10px;

}
.cardOuterWrapper {

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          
 }



.container {
width: 100%;
max-width: 960px;
margin: 100px auto;
}

img {
  max-width: 100%;
  display: block;
}
.cardInnerWrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.capitalize > p:first-letter
{
  text-transform:capitalize;

}
.spellCard
{
  width: 350px;
}
.previous
{
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
  filter:blur(2px);
  -webkit-filter: blur(2px);

}
.next
{
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  filter:blur(2px);
  -webkit-filter: blur(2px);


}
@media screen and (max-width: 600px)  {
  .spellCard
{
  width: 100vw;
  height: 100%;
}
}